*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }

  .logo h2{
    font-size: 45px;
    font-weight: 900;
  }

  .color-orange{
    color: #FD6E0A;
  }

  .text-center{
    text-align: center;
    margin-top: 50px;
  }

  .btn{
    background-color: #FD6E0A;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    padding: 18px 35px;
    cursor: pointer;
  }

  .section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
  }
  .section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
  }

  .section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
  }
  /* main styles */

  nav .menu{
    display: flex;
   
    list-style: none;
    gap: 51px;
   align-items: center;
  }

  nav .menu a{
    font-size: 20px;
    color: #474747;
     text-decoration: none;
  }
header{
    background-color: #fff8f3;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#fff8f3;
    padding: 50px 50px 0px;
    background-repeat: no-repeat;
    background-position:top left, bottom right ;
    background-size:80px,900px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
     align-items: center
}

#banner{
  
    margin: 48px 38px 0px 325px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content{
    max-width: 700px;
    height: 356px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width:585px;
    /* height: 606px; */
    vertical-align: middle;
    
}

.about , .skills, #work{
    padding-top: 130px;
}

.about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

.about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-info .info-card p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 18px;
}

.skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
}

.skills-container .skill-box{
    display: flex;
    gap: 24px;
    padding-top: 50px;
}

.skill-box .skill-card{
  padding: 30px;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #00000028;

}

.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

.work-container{
  width: 71%;
  display: flex;
  gap:24px;
  margin: 113px auto 0;
  max-width: 1140px;
}

.work-container .section-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #474747;
}

.resume-card{
  max-width: 511px;
  margin-right: 47px;
}

.card-title{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight:bold;
  color: #474747;
}

.card-info{
   margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #757575;
}

.card-text{
    font-size: 16px;
  color: #757575;
  line-height: 28px;
}

hr{
  margin: 30px 0;
}

footer{
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0;
}

.footer-container{
  display:flex;
  gap: 117px;
  width: 71%;
 max-width: 1140px;
 margin: 0 auto;
}

.footer-container .social{
  max-width: 562px;
}

.footer-container .social p{
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 20px;
}

.footer-container .social .icons a{
  margin-right: 24px;
}
.footer-container h2{
  font-size: 35px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-container form input[type="text"],textarea{
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
