*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }

  .logo h2{
    font-size: 45px;
    font-weight: 900;
  }

  .color-orange{
    color: #FD6E0A;
  }

  .btn{
    background-color: #FD6E0A;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    padding: 18px 35px;
    cursor: pointer;
  }

  .section-heading{
    max-width: 827px;
    text-align: center;
  }
  .section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
  }

  .section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
  }
  /* main styles */

  nav .menu{
    display: flex;
   
    list-style: none;
    gap: 51px;
   align-items: center;
  }

  nav .menu a{
    font-size: 20px;
    color: #474747;
     text-decoration: none;
  }
header{
    background-color: #fff8f3;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#fff8f3;
    padding: 50px 50px 0px;
    background-repeat: no-repeat;
    background-position:top left, bottom right ;
    background-size:80px,900px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
     align-items: center
}

#banner{
  
    margin: 48px 38px 0px 325px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content{
    max-width: 700px;
    height: 356px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width:585px;
    /* height: 606px; */
    vertical-align: middle;
    
}

.about{
    padding-top: 130px;
}

.about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

.about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-info .info-card p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 18px;
}